---
import Footer from "../organisms/footer.astro"
import Header from "../organisms/header.astro"
import BaseHead from "./base-head.astro"

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`Chris Buchert | ${title}`} description={description} />
  </head>
  <body>
    <Header />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
