---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="About Me" description="Because enquiring minds needs to know">
  <h1>About Me</h1>
  <h5>Because enquiring minds needs to know</h5>
  <p>
    I'm Chris. I hike rivers. I carve wooden geometries containing captive spheres. I pet your dog. I cook soup and give it to my neighbors.
  </p>

  <p>
    I dream of building a web-based, multi-player, CLI optimized, 2D, CAD platform on top of SVG.
    I dream of rich collaboration, communication, and teams with navigable politics and without fragile egos.
    I dream of all the blog posts I should have written when there was a hard thing that I learned or something I did and don't want to have to figure out again.
  </p>

  <p>
    I look forward to reading books and talking about them (and whatever else comes up) with friends.
    I look forward to travel.
    I look forward to figuring out how the #377 to get Zettlekasten meaningfully working for my context in Obsidian.
    I look forward to shooting my iPhone with the cosmic horror that is its mind-blowingly bad autocorrect into the sun with a giant slingshot.
  </p>

  <p>
    Pleased to meet you. Let's do lunch sometime.
  </p>
</BaseLayout>
