---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Home" description="It's me, Chris.">
  <h1>Heyyyyyy</h1>
  <p>
    It's me, Chris.
  </p>
  <p>
    I'm an dev that likes product and UX, currently based in Utah, USA (America / Denver Time).
  </p>
  <p>
    I build web and mobile apps, mostly in TypeScript, mostly using React.
  </p>

  <script>
    // eslint-disable-next-line no-console
    console.log(":chef-kiss So clean.")
  </script>
</BaseLayout>
