---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Home" description="Product engineer. I build things on the web.">
  <h1>Chris Buchert</h1>
  <p>
    I build products. Mostly web, some mobile, always TypeScript. I care about the whole thing: the problem, the design, the code, the delivery.
  </p>
  <p>
    Based in Utah. Working on some things. Occasionally writing about them.
  </p>
  <script>
    // eslint-disable-next-line no-console
    console.log(":chef-kiss So clean.")
  </script>
</BaseLayout>
