---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout title="Side Projects" description="Stretchy pants in your room for fun">
  <h1>Side Projects</h1>
  <h5>Stretchy pants in your room for fun</h5>
  <p>
    Here are some things I've built over the years
  </p>

  <p>
    <a target="_blank" href="https://aci-lch.christianbuchert.com/">ACI in LCH</a> - LCH projection of AutoCAD pens.
  </p>

  <p>
    <a target="_blank" href="https://keybud.io/">Keybud</a> - A tool to help identify browser keyboard shortcuts.
  </p>
</BaseLayout>
