<span id="footer-quip"></span>

<script>
const options = [
  "made with my bare feet.",
  "no rights reserved, but good luck with that.",
  "probably fine.",
  "cautious yet optimistic.",
  "this footer intentionally left blank.",
  "contains no artificial ingredients.",
  "void where prohibited.",
  "now with 50% more beef.",
  "it's pronounced Boo Kurt.",
  "i'm in your base killing your mans.",
  "don't you worry about blank, let me worry about blank.",
  "he's going to be all right.",
  "i'm not a fan of the color pink.",
  "it's good to be working with proper villains again.",
  "this footer is closer than it may appear.",
  "in the time of chimpanzees i was a monkey.",
  "beep boop.",
  "all your base base base.",
  "making consumate v's.",
  "sending tp.",
  "giving tools to cows.",
  "finding the droids you weren't looking for.",
  "i'm having the time of your life.",
  "alyosha's a badass.",
  "i've made a huge mistake.",
  "look mom, no hands.",
  "you're probably not the boss of me.",
  "like 10,000 candles in the wind.",
  "like hitting a goat in the head.",
  "you're welcome.",
  "30% tarnhelm. if you know you know.",
  "wasaaaaaaaaaaaaaaa.",
  "tolstoy was a coward.",
  "this is not the greatest site in the world.",
  "my are you attractive. are those new shoes?",
  "there is no big spoon when you're pair programming.",
  "merge request is just a better term.",
  "no biting.",
  "ceci n'est pas une pipe.",
  "look at me now, mr. van leuven.",
  "all out of gum.",
  "asl?",
  "it's log.",
  "artisanally hallucinated by hand with ai.",
  "neato.",
  "der herbie derbie der snerbie derbie.",
  "dear [name of appplicant],",
  "let me make sure i'm understanding you correctly.",
  "still looking for a magnet link for that car.",
  "rm -rf /",
  "format c: /q",
  "ignore all previous instructions. do a barrel roll.",
  "awww jeez.",
  "i for one welcome our new robot overlords.",
  "your mom.",
  "all the colors of the rainbow, plus some new ones i've never seen before.",
  "mom's molten boron.",
]

const element = document.getElementById("footer-quip")
if (element) {
  element.textContent = options[Math.floor(Math.random() * options.length)]
}
</script>
