---
import InternalLinks from "./internal-links.astro"
---

<header>
  <div class="container">
    <nav>
      <h2><a href="/">Chris Buchert</a></h2>
      <InternalLinks />
    </nav>
  </div>
</header>

<style>
  header {
    margin: 0;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 720px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      padding-top: 0.75em;
    }
  }
</style>
