---
interface Props {
  variant?: "default" | "accent"
}

const { variant = "default" } = Astro.props
---

<span class:list={["badge", { "badge--accent": variant === "accent" }]}>
  <slot />
</span>

<style>
  .badge {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: rgb(var(--gray));
    background-color: rgb(var(--gray-light));
    border-radius: 2rem;
    padding: 0.25rem 0.55rem;
    line-height: 1;
  }

  .badge--accent {
    background-color: transparent;
    border: 0.0625rem solid var(--accent);
    color: var(--accent);
  }
</style>
