.container {
  height: 100vh;
  width: 100vw;
}

.canvas {
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 5rem;
}

.inputContainer {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: start;
}

.inputContainer input {
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 0 .5rem;
}

.inputContainer button {
  background-color: #0070f3;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
}

.inputContainer button:hover {
  background-color: #0060d3;
}

.inputContainer button:active {
  background-color: #0050b3;
}

.inputContainer button:focus {
  outline: none;
}

.titleCard {
  padding: 0rem 2rem;
  z-index: 1;
}

.titleCard h1 {
  color: #0a0a0a;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

.titleCard h2 {
  color: #555;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 2rem 0;
}

.titleCard p {
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  /*margin: 0;*/
}

.titleCard a {
  color: #0070f3;
  text-decoration: none;
}

.titleCard a:hover {
  text-decoration: underline;
}

.titleCard a:active {
  color: #0050b3;
}

.titleCard .titleLinks {
  margin-top: 5rem;
}
